/* Ensure the html, body, and root fill the viewport */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Fullscreen background map */
.map-container {
  position: fixed; /* fixed relative to the viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;      /* behind the overlay */
}

/* Overlay container */
.overlay {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  padding-top: 0px;
  text-align: center;
  pointer-events: none; /* Allow clicks to pass through where no interactive element exists */
  
  
}
.overlay img {
  max-width: 100%; /* Ensure the image is responsive */
  height: auto; /* Maintain aspect ratio */
  width: 200px; /* Set the specific width */
  height: 130px; /* Set the specific height */
  object-fit: cover;
}

/* If you need the h1 (or any interactive element) to handle pointer events, re-enable them */
.overlay h1 {
  
  text-align: center;
  margin: 0px 0;
  color: rgb(0, 0, 0); /* ensure contrast over the map */
}
.map-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.map-container {
  width: 100%;
  height: 100%;
}

.map-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(80%, 50%);
  background: #B69779;
  padding: 20px;
  border-radius: 10px;
  border: 4px solid #000000;
  box-sizing: border-box;
  border-radius:1px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 400px;
  color: #000000;
  font-size: 200;
}

@font-face {
  font-family: 'medieval';
  src: url('./assets/medieval4.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  letter-spacing: 1em;
}
.element-class {
  font-family: 'medieval';
  letter-spacing: 0.05em; /* Adjust the value to make it wider or narrower */
}

body {
  font-family: 'medieval', sans-serif;
  letter-spacing: 0.1em;
}